[Desktop Entry]
Version=1.0
Type=Application
Name=Pharo Launcher
Comment=Pharo Launcher helps you manage your Pharo images
Exec=pharo-launcher
Icon=pharo-launcher
Terminal=false
StartupNotify=false
Categories=Development;

